*{
margin: 0;
padding: 0;
}
nav{
    box-shadow: 2px 2px 2px gray;
    display: flex;
    padding: 30px 50px;
    justify-content: space-around;
  
}
h4,h3{
    color: #008080a1;
    font-size: 50px;
}
h3{
    color: black;
}
ul{
    list-style: none;
}
li{
    font-size: 30px;
    color:rgb(255, 208, 0);
    display: inline;
    padding: 10px;
}
main{
    text-align: center;
    margin: 30px;
}
a{
    text-decoration: none;
}
.btn{
    padding:  10px 30px;
    margin: 20px 0;
    border-radius: 6px;
    color:black
}
.btn:hover{
    background-color: black;
    color: white;
}
